@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
    list-style: none;
}

body{
 background-color: #D7ECFF;
}



.header{
    background-color: #0A55EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo img{
    height: 70px;
    width: auto;
    border-radius: 50%;
    
}

.header .logo img:hover{
    border: 4px solid #D7ECFF;
    
}

.header .nav-links {
    list-style: none;
}

.header .nav-links li {
    font-family: "Anton", sans-serif;
    display: inline-block;
    padding: 0 20px;
    transition: all 0.3s;
}

.header .nav-links li:hover {
    transform: scale(1.1);
}
.header .nav-links a{
    font-size: 700;
    color: #D7ECFF;
    text-decoration: none;
    transition: all 0.3s;
}

.title{
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-size: 100px;
    margin: 50px;
    color: #11275A;
}

.container{
    margin: 100px;
}
.text-container{
    font-family: "Anton", sans-serif;
    font-weight: 400;
    text-align: center;
    color: #11275A;
    font-size: 30px;
}

form {
    font-family: "Anton", sans-serif;
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    margin: 200px;
    backdrop-filter: blur(10px);
   
 }

 .input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
 }

 h2 {
    color: #11275A;
    font-size: 35px;
    font-weight: 400;
 }

 label {
    color: #11275A;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 15px;

 }

 input, textarea {
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #D7ECFF;
    border: 2px solid #11275A;
    color: #283629;
    outline: none;
 }

 input::placeholder, textarea::placeholder {
    color: #11275A;
 }

 .form-txt {
    font-family: "Anton", sans-serif;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
 }

.form-txt a{
    
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
 }

.btn {
    font-size: 16px;
    font-family: "Anton", sans-serif;
    font-weight: 200;
    color: #D7ECFF;
    border: 0;
    border-radius: 25px;
    background-color: #11275A;
    box-shadow: 0 0 20px #0A55EB;
    cursor: pointer;
 }

.btn:hover {
    background-color: #0A55EB;
 }
